<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="shortcut icon" type="image/svg+xml" href="{{ asset('assets/icons/icon.svg') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/w3.css?v=1.0') }}">
        <style>
            body {
                background: #aec7d4;
                background: linear-gradient(0deg, rgba(174,199,212,1) 0%, rgba(39,127,212,1) 44%, rgba(0,49,111,0.9) 100%) fixed;
            }
            .w3-theme {
                color: #fff !important;
                background-color: #008bdf !important;
            }
            .w3-text-theme {
                color: #008bdf !important;
            }
            .w3-dark-red {
                color: #fff !important;
                background-color: #d32f2f !important;
            }
            .w3-hover-dark-red:hover {
                color: #fff !important;
                background-color: #b71c1c !important;
            }
            @media screen and (max-width: 600px) and (max-height: 600px) {
                .w3-display-middle {
                    position: static;
                    transform: none;
                    top: 0;
                    left: 0;
                    -ms-transform: none;
                }
            }

            a {
                text-decoration: none;
            }
            a:hover {
                text-decoration: underline;
            }
        </style>
    </head>
    <body>
        <div class="w3-content">
            {% block body %}{% endblock %}
        </div>
    </body>
</html>
